#!/bin/bash

THEME_NAME="sddm-theme"
THEME_REPO="https://github.com/jzcurious/sddm-theme.git"
TARGET_DIR="/usr/share/sddm/themes/$THEME_NAME"


if command -v pacman > /dev/null; then
     sudo pacman -S --needed --noconfirm qt5-graphicaleffects qt5-quickcontrols2 qt5-svg git
fi

if [ ! -d "$TARGET_DIR" ]; then
    sudo git clone "$THEME_REPO" "$TARGET_DIR"
else
    cd "$TARGET_DIR" && sudo git pull
fi

CONF_DIR="/etc/sddm.conf.d"
CONF_FILE="$CONF_DIR/theme.conf.user"

sudo mkdir -p "$CONF_DIR"
sudo bash -c "cat > $CONF_FILE <<EOF
[Theme]
Current=$THEME_NAME
EOF"
