// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {
            layout "us,ru"
	    options "grp:caps_toggle"
        }
        numlock // Enable numlock on startup
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        //accel-profile "flat"
        //accel-speed 0.0
    }

    // focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
